html,
body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
#applicationDiv{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
#viewDiv {
    width: 100%;
    height: 100%;
    flex: 1 1 auto;
    order: 1;
}

#titleDiv {
    font-weight: 400;
    font-style: normal;
    font-size: 1.2019rem;
    padding: 10px;
}

#sliderContainer {
    flex: 0 0 80px;
    order: 2;

    display: flex;
    flex-flow: row;

    padding: 0 12px;
}

#sliderValue {
    flex: 0 0 100px;
    order: 1;

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    font-size: 300%;
}

#sliderInnerContainer {
    flex: 1 1 auto;
    order: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}

#slider {
    width: 100%;
}